{% for block in section.blocks %}
  <div {{ block.shopify_attributes }}>
    <div class="robin-pro {% if block.settings.width == 'page' %}page-width{% endif %}" id="{{ block.settings.gallery_id }}"></div>
  </div>
{% endfor %}

{% schema %}
  {
    "name": "Robin PRO Image Gallery",
    "blocks": [
      {
        "type": "gallery",
        "name": "Gallery",
        "settings": [
          {
            "label": "Gallery",
            "type": "select",
            "id": "gallery_id",
            "options": [
{
  "value": "c3134b42-3377-4a84-99ce-2d671a18ee60",
  "label": "Riverbank House"
},
{
  "value": "1595bbfb-5af2-4998-af24-7300c9e78f23",
  "label": "Riverbank House"
},
{
  "value": "ada03e04-2f8f-4a85-8719-6795377ad796",
  "label": "Forde Abbey"
},
{
  "value": "91b7223b-3bea-48bb-95d3-dc1b4189ba15",
  "label": "Allotments"
},
{
  "value": "223e75a7-4152-428c-a894-a3b7782fec4e",
  "label": "Playground"
},
{
  "value": "e65f8fa6-7049-42e1-adbe-ef112e0083c6",
  "label": "Parks and Verges"
},
{
  "value": "ea215247-74da-4781-9ddf-f686c0428e06",
  "label": "Entrance to the Park"
},
{
  "value": "81aaf959-b739-4450-bb61-ae69569c00ef",
  "label": "Cemetery"
},
{
  "value": "db977bf5-ad7d-4872-a946-4e8d99e5d9a5",
  "label": "Station Garden"
},
{
  "value": "0d6fb8b7-fafc-4397-9219-f38af0c43544",
  "label": "Country Store"
},
{
  "value": "d810a02a-7e15-4cfa-a3ec-fb23b1f2933a",
  "label": "Roundabouts"
},
{
  "value": "eabd5ac4-23c6-401d-8f4e-366f6ab73307",
  "label": "Alleyway Transformation"
},
{
  "value": "2bc2715e-eee3-4bdf-8be7-fc440e83a4b5",
  "label": "Your Gardens"
},
{
  "value": "04812148-d715-42d1-b235-d725cf842463",
  "label": "Test-gallery"
}
            ]
          },
          {
            "type": "radio",
            "id": "width",
            "label": "Width",
            "options": [
              {
                "value": "page",
                "label": "Page width"
              },
              {
                "value": "full",
                "label": "Full width"
              }
            ],
            "default": "page"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Robin PRO Image Gallery",
        "category": "Robin PRO Image Gallery App",
        "settings": {}
      }
    ]
  }
{% endschema %}